{% extends 'base.html' %}
{% load static %}
{% block title %}
Welcome
{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block content %}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/me.jpg' %}" alt="" width="350" height="350">
    <h1 class="display-5 fw-bold">A swiss knife for your company</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          Are you looking for an Agile coach and scrum master with expertise in virtual facilitation and a good technical knowledge in innovative technologies?
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="https://calendly.com/gwen-mycoachingcompany/quick-meeting"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Book a call</button></a>
          <a href="/cv"><button type="button" class="btn btn-outline-secondary btn-lg px-4">More about me</button></a>
      </div>
    </div>
  </div>

     <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">The 3 pillars of my philosophy</h2>
      <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'images/homme.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Human First</h2>
        <p class="bg-white">The first and most important ressource of a company is made of the people working in this company. <br>And like a blade, if you don't take care of them, they won't be able to do their work.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/evolution.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Adapt to dominate</h2>
        <p class="bg-white">A company is like a living being, it must evolve to stay alive. <br> To evolve, every team and people must adapt to stay competitive and work without stress.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/level.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Level up</h2>
        <p class="bg-white">Keep learning new things, like me and programming languages. It's the only way to innovate!</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

     </div>

    <div align="center">

      <img src="{% static 'images/BGhand.jpg' %}" >

    
  </div>


    <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">What I can do:</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Agile coach</h2>
          <br>
          <p> Human before process, it's generally where the coach acts. I will bring the right methodology to fit with your teams and your projects. Try the quizz to have a first idea!</p>
          <div align="center"><a href="/quiz"><img src="{% static 'images/quiz.jpg' %}" height=125 width=300></a></div>

      </div>
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Scrum master</h2>
          <br>
        <p>A scrum master is not an assistant of management or a super secretary: he/she is a shield, a master and an organiser at the same time</p>

      </div>
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Product owner / manager</h2>
          <br>
        <p>Understand the need of the user, the business value of a product and being the gateway between the stakeholders and the teams, that's how I work as a product owner.</p>

      </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Project manager</h2>
          <br>
          <p> Because a project manager is like a product owner and a scrum master merge together.</p>

      </div>
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Data scientist</h2>
          <br>
        <p> If you want an example, just have a look at the quizz feature that works with data from more than 200 projects and AI (k-nearest neighbors algorithm)</p>
             <div align="center"><a href="/quiz"><img src="{% static 'images/quiz.jpg' %}" height=125 width=300></a></div>
      </div>
      <div class="feature col bg-white shadow">
      <div class="feature col ">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Python backend developer</h2>
          <br>
        <p>This website and the different features it contains are just an example of what I can do.</p>

      </div>
    </div>
    </div>
{% endblock %}