{% extends 'base.html' %}
{% load static %}
{% block title %}
Welcome
{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block content %}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/me.jpg' %}" alt="" width="350" height="350">
    <h1 class="display-5 fw-bold">A swiss knife for your company</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          Are you looking for an Agile coach and scrum master with expertise in virtual facilitation and a good technical knowledge in innovative technologies?
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Book a call</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">More about me</button>
      </div>
    </div>
  </div>

     <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">The 3 pillars of my philosophy</h2>
      <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Human First</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Adapt to dominate</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Level up</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

     </div>

    <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">What I can do:</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Agile coach</h2>
          <p> Human before process, it's generally where the coach acts. I will bring the right methodology to fit with your teams and your projects. Try the quizz to have a first idea!</p>
            <a href="#" class="icon-link">
          Try the Quizz!
        </a>
      </div>
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Scrum master</h2>
        <p>A scrum master is not an assistant of management or a super secretary: he is a shield, a master and an organiser at the same time</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Product owner / manager</h2>
        <p>Understand the need of the user, the business value of a product and being the gateway between the stakeholders and the teams, that's how I work as a product owner.</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>Project manager</h2>
          <p> Because a project manager is like a product owner and a scrum master merge together.</p>
            <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
      <div class="feature col bg-white shadow">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Data scientist</h2>
        <p> If you want an example, just have a look at the quizz feature that works with data from more than 200 projects and AI (k-nearest neighbors algorithm)</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
      <div class="feature col bg-white shadow">
      <div class="feature col ">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Python backend developer</h2>
        <p>This website and the different features it contains are just an example of what I can do.</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
    </div>
    </div>
{% endblock %}